.conteiner{
	width:1330px;
	height:1400px;
	background-color:lightgray;
	margin-left:auto;
	margin-right:auto;
	background-image:url(conteiner.jpg);
}
.enust{
	width:1000px;
	height:40px;
	margin-right:auto;
	margin-left:auto;
}
.facelogo img{
	margin-top:5px;
	margin-left:15px;
	float:left;
}
.menu{
	width:1000px;
	height:35px;
	margin:0 auto;
	
}
	.menu ul li{
		margin-top:5px;
		float:left;
		list-style-type:none;
	}
	.menu ul li a{
		color:darkblue;
		font:17px Arial;
		text-decoration:none;
		display:block;
		padding:5px 5px;
				}	
		.menu2{
		float:left;
		width:1000px;
		height:35px;
		margin-top:-40px;
		padding-left:350px;
		
				}
		.menu2 ul li{
			float:left;
			list-style-type:none;
		}
		.menu2 ul li a{
			color:darkblue;
			font:17px Arial;
			text-decoration:none;
			display:block;
			padding:5px 5px;
		}	
	.tablo{
	padding-top:7px;
	}
.logo{
	
	width:1000px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}
.ascilik{
	width:1000px;
	height:70px;
	margin-left:auto;
	margin-right:auto;
background-color:lightgray;
	float:left;

}
.ascilik p{
	font-size:30px;
	font-weight:bolder;
	color:blue;
	padding-left:20px;
}
.ortaresim{
	width:1000px;
	height:350px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	background-image: url(arka.jpg);

}
.altorta{
	width:1000px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	background-image:url(arkaplan1.jpg);
}
.altortasol{
	float:left;
	width:700px;
	height:600px;
}
.altortasag{
	float:left;
	width:300px;
	height:600px;
}
.yemektarifi{
margin-left:75px;
margin-top:10px;
width:200px;
height:400px;
background-color:red;
}

	.yemektarifi{
    background: lightgray;
    width: 250px;
    margin-left: 50px;
    
}
.yemektarifi ul li{
   list-style: none;
}
 
.yemektarifi ul{
    margin: 0;
    padding: 0;
}
.yemektarifi ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    border-bottom:1px solid #282828;
}
 
.yemektarifi ul li ul {
	display:none;
}
 
.yemektarifi ul li:hover ul {
	display:block;
	position:absolute;
    margin:-40px 0 0 250px;
}
 
.yemektarifi ul li ul li a {
	padding:10px;
	font-size:15px;
	background-color: lightgray;
	border-bottom:1px solid #222;
	transition:all .3s ease-in-out;
	width:170px;
}
.yemektarifi ul li a:hover {
	background-color: #407ce0;
	transition:all .3s ease-in-out;
}
.enalt{
	width:1000px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	float:left;
}
.enaltsolalt{
	margin-top:20px;
	float:left;
}	
.enaltsag{
	margin-top:-100px;
	margin-left:350px;
}
.enaltsag font{
	padding-left:40px;
}
.asd{
float:left;
margin-top:-60;
list-style-type:none;
}
.sda{
	float:left;
	margin-left:480px;
	margin-top:-140px;
	list-style-type:none;
}
.bitis{
	height:100px;
	width:1000px;
	margin-top:10px;
}
.asd a:hover{
	background-color:#407ce0;
	color:black;
	text-decoration:none;
}
.asd a{
	color:black;
	text-decoration:none;
}
.sda a{
	color:black;
	text-decoration:none;
}
}
.sda a:hover{
	background-color:#407ce0;
	color:black;
	text-decoration:none;
}